*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.xml

*.xml

app/src/main/AndroidManifest.xml

app/src/main/AndroidManifest.xml

.idea/gradle.xml

app/src/main/AndroidManifest.xml

app/src/main/java/com/example/jakubkalinowski/contractfoxandroid/exterior.java

app/src/main/java/com/example/jakubkalinowski/contractfoxandroid/InsideGarage.java
